.root {
  display: flex;
  gap: 0 20px;

  li {
    a {
      display: block;
      color: #fe5f1e;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 42px;
      border: 1px solid #fe5f1e;
      border-radius: 50%;
      cursor: pointer;
    }

    &:hover {
      a {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }
}
